<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>发布博客</title>

    <link rel="stylesheet" th:href="@{/layui-v2.6.8/layui-v2.6.8/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/my.css}">
    <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.css}"/>
    <link rel="shortcut icon" th:href="@{https://pandao.github.io/editor.md/favicon.ico}" type="image/x-icon"/>
    <div th:replace="copy :: css "></div>
</head>

<body>


<ul class="layui-nav" lay-filter="" style="background-color: rgb(47,47,47)">
    <div class="layui-row">
        <div class="layui-col-sm4">
            <li class="layui-nav-item"><a href="">首页</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">学习</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd><a href="">spring</a></dd>
                    <dd><a href="">spring boot</a></dd>
                    <dd><a href="">spring cloud</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">社区</a></li>
        </div>
        <div class="layui-col-md4" style="position: absolute;left: 500px;top: 10px">
            <div class="layui-col-md9">

                <input class="layui-input" type="text" placeholder="说一说 HashMap 的底层原理...">
            </div>
            <div class="layui-col-md3">
                <button class="layui-btn layui-btn-warm"><i class="layui-icon">&#xe68f;</i> <span>搜索</span></button>
            </div>
        </div>
        <div class="layui-col-md3 layui-col-sm-offset5">
            <li class="layui-nav-item">
                <a href="">消息<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">个人中心<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item">
                <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">退出登录</a></dd>
                </dl>
            </li>
        </div>

    </div>
</ul>


<div class="layui-fluid" style="background-color: #eeeeee">
    <div class="layui-row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="layui-col-md12" style="background-color: #b9b7b7;height: 1200px">
            <br>
            <form th:action="@{/save}">
                <div class="layui-col-md10 layui-col-md-offset1">
                    <div class="layui-col-md1 layui-col-md-offset1">
                        <select class="bo" lay-ignore
                                style="height: 50px; width:105px; border: 2px solid black;border-top-left-radius: 10px">
                            <option>原创</option>
                            <option>转载</option>
                            <option>翻译</option>
                        </select>
                    </div>
                    <div class="layui-col-md10" style="">
                        <input type="text" style="height: 46px;width: 928px; border-top-right-radius: 10px">
                    </div>
                </div>
                <br>
                <div class="layui-col-md10 layui-col-md-offset1">
                    <div class="layui-col-md10 layui-col-md-offset1 layui-text ">
                        <div id="test-editormd" style="z-index: 1 !important;">
            <textarea style="display:none;" name="blogContext">
                    #### 你可以发挥你的大脑，去把你的知识让更多的人看见
                        editor.md/
                                lib/
                                css/
                                scss/
                                tests/
                                fonts/
                                images/
                                plugins/
                                examples/
                                languages/
                                editormd.js
                                ...

                    ```html
                    &lt;!-- English --&gt;
                    &lt;script src="../dist/js/languages/en.js"&gt;&lt;/script&gt;

                    &lt;!-- 繁體中文 --&gt;
                    &lt;script src="../dist/js/languages/zh-tw.js"&gt;&lt;/script&gt;
                    ```
            </textarea>
                        </div>
                    </div>
                </div>

<!--                <div class="layui-col-md10 layui-col-md-offset2">-->
<!--                    <scan class="border-radius-shadow layui-font-20" style="background: #00FFFF"> &nbsp; 分类&nbsp;</scan>-->
<!--                    <select class="bo" lay-ignore style="height: 30px; width:805px;">-->
<!--                        <option>原创</option>-->
<!--                        <option>转载</option>-->
<!--                        <option>翻译</option>-->
<!--                    </select>-->
<!--                </div>-->

<!--                <div class="layui-col-md10 layui-col-md-offset2">-->
<!--                    <scan class="border-radius-shadow layui-font-20" style="background: #00FFFF">&nbsp; 标签&nbsp;</scan>-->
<!--                    <select class="bo" lay-ignore style="height: 30px; width:805px;">-->
<!--                        <option>原创</option>-->
<!--                        <option>转载</option>-->
<!--                        <option>翻译</option>-->
<!--                    </select>-->
<!--                </div>-->

                <a href="#" class="layui-btn">返回</a>
                <a href="#" class="layui-btn">保存</a>
                <input class="layui-btn" type="submit" value="发布">
            </form>
        </div>

    </div>
</div>


<br>
<br>
<div th:replace="copy :: js"></div>
<div class="layui-fluid layui-font-18 layui-font-green" style="background-color: #d4d4d4; height: 250px;">
    <br>
    <br>


    <div class="layui-row">
        <div class="layui-col-md-offset3 layui-col-md4 layui-text">
            <h1>联系我</h1>
            <h3>Email:285589347@qq.com</h3>
            <h3>QQ:2875589347</h3>

        </div>
        <div class="layui-col-md4 layui-text">
            <h1>Blog</h1>
            <h3>这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</h3>
        </div>


    </div>
    <br>
    <br>
    <hr class="layui-border-black">
</div>
<script th:src="@{/layui-v2.6.8/layui-v2.6.8/layui/layui.js}"></script>
<script th:src="@{/lib/editormd/js/jquery.min.js}"></script>
<script th:src="@{/lib/editormd/editormd.min.js}"></script>
<script type="text/javascript">
    var testEditor;

    $(function () {
        testEditor = editormd("test-editormd", {
            width: "100%",
            height: 800,
            syncScrolling: "single",
            path: "/lib/editormd/lib/"
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });


    //初演示
    dropdown.render({
        elem: '.demo1'
        , data: [{
            title: 'menu item11'
            , id: 100
        }, {
            title: 'menu item22'
            , id: 101
        }, {
            title: 'menu item33'
            , id: 102
        }]
        , click: function (obj) {
            layer.tips('点击了：' + obj.title, this.elem, {tips: [1, '#5FB878']})
        }
    });


    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });

    layui.use(function () {
        var layer = layui.layer
            , form = layui.form
            , laypage = layui.laypage
            , element = layui.element
            , laydate = layui.laydate
            , util = layui.util;

        // //欢迎信息
        // layer.msg('Hello World');

        //输出版本号
        lay('#version').html(layui.v);

        //日期
        laydate.render({
            elem: '#test2'
            , value: new Date()
            , isInitValue: true
        });

        //触发事件
        util.event('test-active', {
            'test-form': function () {
                layer.open({
                    type: 1
                    , resize: false
                    , shadeClose: true
                    , area: '350px'
                    , title: 'layer + form'
                    , content: ['<ul class="layui-form layui-form-pane" style="margin: 15px;">'
                        , '<li class="layui-form-item">'
                        , '<label class="layui-form-label">输入框</label>'
                        , '<div class="layui-input-block">'
                        , '<input class="layui-input" lay-verify="required" name="field1">'
                        , '</div>'
                        , '</li>'
                        , '<li class="layui-form-item">'
                        , '<label class="layui-form-label">选择框</label>'
                        , '<div class="layui-input-block">'
                        , '<select name="field2">'
                        , '<option value="A">A</option>'
                        , '<option value="B">B</option>'
                        , '<select>'
                        , '</div>'
                        , '</li>'
                        , '<li class="layui-form-item" style="text-align:center;">'
                        , '<button type="submit" lay-submit lay-filter="*" class="layui-btn">提交</button>'
                        , '</li>'
                        , '</ul>'].join('')
                    , success: function (layero, index) {
                        layero.find('.layui-layer-content').css('overflow', 'visible');

                        form.render().on('submit(*)', function (data) {
                            layer.msg(JSON.stringify(data.field), {icon: 1});
                            //layer.close(index); //关闭层
                        });
                    }
                });
            }
        });
    });
</script>
</body>

</html>