<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>关于我</title>

    <div th:replace="copy :: css "></div>
</head>

<body>


<ul class="layui-nav" lay-filter="" style="background-color: rgb(47,47,47)">
    <div class="layui-row">
        <div class="layui-col-sm4">
            <li class="layui-nav-item"><a href="">首页</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">学习</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd><a href="">spring</a></dd>
                    <dd><a href="">spring boot</a></dd>
                    <dd><a href="">spring cloud</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">社区</a></li>
        </div>
        <div class="layui-col-md4" style="position: absolute;left: 500px;top: 10px">
            <div class="layui-col-md9">

                <input class="layui-input" type="text" placeholder="说一说 HashMap 的底层原理...">
            </div>
            <div class="layui-col-md3">
                <button class="layui-btn layui-btn-warm"><i class="layui-icon">&#xe68f;</i> <span>搜索</span></button>
            </div>
        </div>
        <div class="layui-col-md3 layui-col-sm-offset5">
            <li class="layui-nav-item">
                <a href="">消息<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">个人中心<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item">
                <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">退出登录</a></dd>
                </dl>
            </li>
        </div>

    </div>
</ul>


<div class="layui-fluid" style="background-color: #eeeeee">
    <div class="layui-row">
        <div class="layui-col-md12" style="background-color: #FAFAFA">
            <div class="layui-tab">
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">

                        <div class="layui-row">

                            <div class="layui-col-md11">
                                <br>
                                <br>
                                <br>
                                <div class="layui-col-md11 layui-col-md-offset1" style="border: 1px solid darkgreen;">

                                    <table class="layui-table">
                                        <colgroup>
                                            <col width="150">
                                            <col width="200">
                                            <col>
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>标题</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>

                                        <tbody th:each="type:${types}">
                                        <tr>
                                            <td th:text="${type.id}">1</td>
                                            <td th:text="${type.types}">spring</td>

                                            <td>
                                                <a class="layui-btn layui-btn-radius layui-btn-primary"
                                                   th:href="@{/types/update(type=${type.types})}">
                                                    编辑
                                                </a>
                                                <a class="layui-btn layui-btn-radius layui-btn-primary"
                                                   th:href="@{/types/delete(type=${type.types})}">
                                                    删除
                                                </a>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                    &nbsp; &nbsp;
                                    <a class="layui-btn layui-btn-radius layui-btn-primary">上一页</a>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <a class="layui-btn layui-btn-radius layui-btn-primary">下一页</a>
                                    &nbsp; &nbsp; &nbsp; <span>第4页</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp;<span>共14页</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                                    <a class="layui-btn layui-btn-radius layui-btn-primary"
                                       th:href="@{/types/type-input}">新增</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>


        </div>


    </div>
</div>
<div th:replace="copy :: js"></div>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });
</script>


<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>
<div class="layui-fluid layui-font-18 layui-font-green" style="background-color: #d4d4d4; height: 250px;">
    <br>
    <br>


    <div class="layui-row">
        <div class="layui-col-md-offset3 layui-col-md4 layui-text">
            <h1>联系我</h1>
            <h3>Email:285589347@qq.com</h3>
            <h3>QQ:2875589347</h3>

        </div>
        <div class="layui-col-md4 layui-text">
            <h1>Blog</h1>
            <h3>这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</h3>
        </div>


    </div>
    <br>
    <br>
    <hr class="layui-border-black">
</div>


<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });

    layui.use(function () {
        var layer = layui.layer
            , form = layui.form
            , laypage = layui.laypage
            , element = layui.element
            , laydate = layui.laydate
            , util = layui.util;

        // //欢迎信息
        // layer.msg('Hello World');

        //输出版本号
        lay('#version').html(layui.v);

        //日期
        laydate.render({
            elem: '#test2'
            , value: new Date()
            , isInitValue: true
        });

        //触发事件
        util.event('test-active', {
            'test-form': function () {
                layer.open({
                    type: 1
                    , resize: false
                    , shadeClose: true
                    , area: '350px'
                    , title: 'layer + form'
                    , content: ['<ul class="layui-form layui-form-pane" style="margin: 15px;">'
                        , '<li class="layui-form-item">'
                        , '<label class="layui-form-label">输入框</label>'
                        , '<div class="layui-input-block">'
                        , '<input class="layui-input" lay-verify="required" name="field1">'
                        , '</div>'
                        , '</li>'
                        , '<li class="layui-form-item">'
                        , '<label class="layui-form-label">选择框</label>'
                        , '<div class="layui-input-block">'
                        , '<select name="field2">'
                        , '<option value="A">A</option>'
                        , '<option value="B">B</option>'
                        , '<select>'
                        , '</div>'
                        , '</li>'
                        , '<li class="layui-form-item" style="text-align:center;">'
                        , '<button type="submit" lay-submit lay-filter="*" class="layui-btn">提交</button>'
                        , '</li>'
                        , '</ul>'].join('')
                    , success: function (layero, index) {
                        layero.find('.layui-layer-content').css('overflow', 'visible');

                        form.render().on('submit(*)', function (data) {
                            layer.msg(JSON.stringify(data.field), {icon: 1});
                            //layer.close(index); //关闭层
                        });
                    }
                });
            }
        });
    });
</script>
</body>

</html>